<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medico</h4>
                <h6 class="card-subtitle">Informacion</h6>
                <form class="form p-t-20" [formGroup]="medicoForm" (submit)="guardarMedico()">
                    <div class="form-group" *ngIf="medicoSeleccionado">
                        <label for="exampleInputuname">Foto</label>
                        <div class="input-group">
                            <img class="w140" [src]="medicoSeleccionado.img | imagen:'medicos'" [alt]="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input formControlName="nombre" type="text" class="form-control" id="exampleInputuname" placeholder="Mombre Medico">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hospital</label>
                        <div class="input-group">
                            <select class="form-control" formControlName="hospital">
                            <option value="">Seleccione Hospital</option>
                            <option *ngFor="let hosp of hospitales" [value]="hosp._id">{{hosp.nombre}}</option>

                           </select>

                        </div>
                    </div>

                    <button type="submit" [disabled]="medicoForm.invalid" class="btn btn-success waves-effect waves-light m-r-10">
                      <i class="fa fa-save"></i> Guardar
                    </button>
                    <button type="button" routerLink="/dashboard/medicos" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col animated fadeIn fast" *ngIf="hospitalesSeleccionado">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{hospitalesSeleccionado.nombre}}</h6>
                <img class="img-thumbnail" [src]="hospitalesSeleccionado.img | imagen:'hospitales'" [alt]="" />
            </div>
        </div>
    </div>
</div>